/* BOOTSTRAP TABLE CSS OVERRIGHT */
.table {
  color: #212529;
  background: #ffff;
}

.table thead th {
  color: #000;
  font-weight: 900;
}

.table-hover tbody tr:hover {
  background-color: rgb(255 215 228 / 73%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

span .search__icon {
  font-size: 2rem;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* OVERRIDE FORM INPUT FOCUS EFFECT */
.form-control:focus {
  background-color: var(--white-color);
  border-color: var(--first-color);
  box-shadow: 0 0 0 0.2rem rgb(255 0 82 / 25%);
}
