/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*========== VRIABLES CSS ==========*/
:root {
  --nav-width: 190px;
  /* === COLORS === */
  --first-color: #e91e63;
  --first-color-dark: #d41655;
  --bg-color: #191919;
  --sub-color: #b3cefc;
  --white-color: #fff;

  /* === FONTS === */
  --body-fonts: "Poppins", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /* === Z INDEXS === */
  --z-fixed: 100;

  /* === BORDER RADIUS === */
  --border-min-radius: 5px;

  /* === BUTTONS COLOR === */
  --btn-primary: var(--first-color);
}

/*========== BASE ==========*/
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  /* padding: 2rem 0 0 6.75rem; */
  font-family: var(--body-fonts);
  font-size: var(--normal-font-size);
  background-color: #e7edee !important;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* RESET ALL CSS  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* OVERRIDE SCROLLBAR CSS */

body::-webkit-scrollbar {
  width: 9px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--white-color); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--first-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid var(--first-color-dark); /* creates padding around scroll thumb */
}

.table-responsive::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}

.table-responsive::-webkit-scrollbar-track {
  background: var(--white-color); /* color of the tracking area */
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: var(--first-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid var(--first-color-dark); /* creates padding around scroll thumb */
}
